<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.dao.slave.ISUserDao"><!-- 在此定义命名空间 -->
	<resultMap type="com.sun.entity.User" id="UserResultMap">
		<id property="uid" column="uid" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	<select id="findAllUsers" resultMap="UserResultMap">
		select uid,name,age,create_time from user
	</select>
</mapper>